root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.dart]
max_line_length = 80

[*.md]
# Markdown uses trailing double-space for hard breaks.
trim_trailing_whitespace = false

[*.{py,sh}]
indent_size = 4

[Makefile]
indent_style = tab
